* {
    margin: 0;
    padding:0;
}

.webgl {
    position: fixed; /* you can use absolute also */
    top:0;
    left:0;
    outline: none; /* removes blue outline that shows when dragging (depends on the browser) */
}

html, body {
    /* hides scroll */
    /* overflow: hidden;  */
}